.cb-layer {
  box-sizing: content-box;
  position: relative;
  display: block;
}

.cb-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
}

.cb-grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-size: cover;
}

.cb-layer.interactive .cb-grid {
  cursor: pointer;
}

.cb-grid .cb-sq {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  pointer-events: none;
}

.cb-grid .cb-sq.move-dest {
  pointer-events: auto;
}

.cb-grid .cb-sq.last-move {
  will-change: transform;
}

.cb-layer .cb-piece {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  z-index: 2;
  will-change: transform;
  pointer-events: none;
}

.cb-grid .cb-piece.dragging {
  cursor: move;
  /* !important to override z-index from 3D piece inline style */
  z-index: 11 !important;
}

.cb-piece.anim {
  z-index: 8;
}

.cb-piece.fading {
  z-index: 1;
  opacity: 0.5;
}

.cb-layer .cb-phantom {
  position: absolute;
  top: 0;
  left: 0;
  width: 12.5%;
  height: 12.5%;
  background-size: cover;
  opacity: 0.3;
  z-index: 1;
  will-change: transform;
  pointer-events: none;
}

.cb-layer .cb-piece svg {
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
  opacity: 0.6;
}

.cb-layer .cb-hints,
.cb-layer .cb-arrows,
.cb-layer .cb-markers,
.cb-layer .cb-arrows-below,
.cb-layer .cb-markers-below {
  overflow: visible;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.cb-layer .cb-hints {
  z-index: 2;
}

.cb-layer .cb-hints .cb-piece {
  opacity: 0.3;
}

.cb-layer .cb-arrows {
  overflow: hidden;
  opacity: 0.6;
  z-index: 2;
}

.cb-layer .cb-arrows-below {
  overflow: hidden;
  z-index: 1;
}

.cb-layer .cb-markers-below {
  z-index: 1;
}

.cb-layer .cb-markers {
  /* over piece.anim = 8, but under piece.dragging = 11 */
  z-index: 9;
}

.cb-layer .cb-markers svg,
.cb-layer .cb-markers-below svg {
  overflow: visible;
}

.cb-layer .cb-labels {
  position: absolute;
  display: flex;
  pointer-events: none;
  opacity: 0.8;
  font-family: sans-serif;
  font-size: 9px;
}

.cb-layer .cb-labels.rows {
  left: 4px;
  top: -20px;
  flex-flow: column-reverse;
  height: 100%;
  width: 12px;
}

.cb-layer .cb-labels.rows.flip {
  flex-flow: column;
}

.cb-layer .cb-labels.rows.left {
  left: -15px;
  align-items: flex-end;
}

.cb-layer .cb-labels.cols {
  bottom: -4px;
  left: 24px;
  flex-flow: row;
  width: 100%;
  height: 16px;
  text-transform: uppercase;
  text-align: center;
}

.cb-layer .cb-labels.cols.flip {
  flex-flow: row-reverse;
}

.cb-layer .cb-labels span {
  flex: 1 1 auto;
}

.cb-layer .cb-labels.rows span {
  transform: translateY(39%);
}

.cb-layer .cb-labels.on-squares {
  bottom: 0;
  left: 0;
  text-transform: uppercase;
  text-align: right;
  flex-flow: column-reverse;
  height: 100%;
  width: 12.5%;
}

.cb-layer .cb-labels.on-squares.flip {
  flex-flow: column;
}

.cb-layer .cb-labels.on-squares.left {
  text-align: left;
}

.cb-layer .cb-labels.on-squares span {
  padding: 6% 4%;
}

.cb-layer .cb-labels.on-squares.file2 {
  transform: translateX(100%);
}

.cb-layer .cb-labels.on-squares.file3 {
  transform: translateX(200%);
}

.cb-layer .cb-labels.on-squares.file4 {
  transform: translateX(300%);
}

.cb-layer .cb-labels.on-squares.file5 {
  transform: translateX(400%);
}

.cb-layer .cb-labels.on-squares.file6 {
  transform: translateX(500%);
}

.cb-layer .cb-labels.on-squares.file7 {
  transform: translateX(600%);
}

.cb-layer .cb-labels.on-squares.file8 {
  transform: translateX(700%);
}
